body {
    width: 100%;
    overflow-x: hidden;
}

.custom1 {
    background-color: #FFFFFF;
    font-family: 'Muli', sans-serif;
    color: #000;
}

.custom2 {
    background-color: #FFFFFF;
    font-family: 'Muli', sans-serif;
    color: #000;
    margin-top: 100px;
    margin-bottom: 100px;
}

.row {
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex;
    padding-right: 5%;
}

.row1 {
    /* border-top: 1px solid #666666; */
    border-bottom: 1px solid #666666;
    padding-left: 2%;
}

.title1 {
    font-family: merriweather,serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 20px;
    text-align: center;
}
/*
.navbar {
    border-top: 1px #333333 ridge;
    border-bottom: 1px #333333 ridge;
    background-color: #FFFFFF;
}

.navbar-nav > li {
    float: left;
    position: relative;
}

.navbar-light .navbar-nav .active a::after {
    border-bottom: 2px solid #000000;
    bottom: -10px;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    font-family: 'Muli', sans-serif;
    color: #000;
}

li, a, ul {
    font-family: 'Muli', sans-serif;
    color: #000;
}

a:hover { 
    color: #333333; 
}

.active {
    text-decoration: underline;
}
*/
.pill {
    border-radius: 25px;
}

.black-bg {
    background-color: #000;
}

/*.header1 {
    font-family: merriweather,serif;
    font-weight: 400;
    font-style: normal;
    vertical-align: middle;
    margin-top: 50px;
    margin-bottom: 50px;
}

.header2 {
    font-family: merriweather,serif;
    font-weight: 400;
    font-style: normal;
    vertical-align: middle;
}*/

/*.footer1 {
    font-family: merriweather,serif;
    font-weight: 400;
    font-style: normal;
    border-top: 1px #333333 ridge;
    vertical-align: middle;
}

.fa2 {
    margin-top: 0.1em;
    margin-right: 0.3em;
    color:black;
    font-size: 3em;
}

.temp {
    margin: 200px;
}
*/
/* IMAGE HOVER OVERLAY EFFECTS */

.container-hover {
    position: relative;
    width: 250px;
    height: 250px; 
    align-self: center;
}
  
.image-hover {
    opacity: 1;
    display: block;
    
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.middle-hover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.container-hover:hover .image-hover {
    opacity: 0.3;
}
  
.container-hover:hover .middle-hover {
    opacity: 1;
}

.fa1 {
    margin: 0.1em;
    color: black;
    font-size: 2em;
}
